.thumbnail {
    background-color: #F9F9F9;
}

.ng-invalid.ng-dirty{
    border-color: #fa787e;
}
.ng-valid.ng-dirty{
    border-color: #78FA89;
}
.btn-primary {
    background-color: #1D5287;
    border-color: #123354;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #2466A8;
    border-color: #1B4C7E;
}


.panel-default > .panel-heading {
    color: #000000;
    background-color: #FFFFFF;
}

/* Google maps */
.angular-google-map-container {
    width: 100%;
    height: 598px;
}

.marker-labels {
    color: #FFFFFF;
    background-color: #2466A8;
}
